@tailwind base;
@tailwind components;
@tailwind utilities;

.display-none {
  @apply hidden;
}

html, body{
  height: 100%;
  min-height: 100%;
}
html{
  scroll-behavior: smooth;
}

@layer utilities {
  .hamburger-toggle {
    @apply [&>div]:h-0 [&>div]:bg-white [&>div::before]:before:translate-y-0 [&>div::before]:before:rotate-45 [&>div::before]:after:translate-y-0 [&>div::before]:after:-rotate-45;
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
#overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
  z-index: 99;
}

#btn-container{
  position: fixed;
  top: 35px;
  right: 10%;
  height: 27px;
  width: 30px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}


